{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="search_section">
	<div class="search_item">
		<div class="search_go">
			<input type="text">
			<div class="serach_icon"><i class="fa fa-search" aria-hidden="true"></i></div>
		</div>
		<p>這是一個很長很長的故事......</p>
	</div>
</div>
	

<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">台灣記憶</a> > <p>檢索結果</p>
</div>


<div class="detail">
	<div class="detail_title">
		<h4>化番的圓木舟</h4>	
	</div>
	<div class="detail_description">
		<div class="detail_list">
			<div class="detail-th">題名</div>	
			<div class="detail-td"><p>化番的獨木舟</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">著作</div>	
			<div class="detail-td"><p>超級飄髮哥</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">摘要</div>	
			<div class="detail-td"><p>超級飄髮哥</p></div>	
		</div>		
		<div class="detail_list">
			<div class="detail-th">資源識別代號</div>	
			<div class="detail-td"><p>本集介紹如何前往合歡山，以及合歡山地區動植物生態、高山氣象、高山地理景觀、森林界線、高山步道的規畫、四季不同季節所應俱備的裝備與交通工具、合歡山地區相關設施與方針。</p></div>	
		</div>

		<div class="detail_list">
			<div class="detail-th">題名</div>	
			<div class="detail-td"><p>化番的獨木舟</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">著作</div>	
			<div class="detail-td"><p>超級飄髮哥</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">摘要</div>	
			<div class="detail-td"><p>超級飄髮哥</p></div>	
		</div>		
		<div class="detail_list">
			<div class="detail-th">資源識別代號</div>	
			<div class="detail-td"><p>本集介紹如何前往合歡山，以及合歡山地區動植物生態、高山氣象、高山地理景觀、森林界線、高山步道的規畫、四季不同季節所應俱備的裝備與交通工具、合歡山地區相關設施與方針。本集介紹如何前往合歡山，以及合歡山地區動植物生態、高山氣象、高山地理景觀、森林界線、高山步道的規畫、四季不同季節所應俱備的裝備與交通工具、合歡山地區相關設施與方針。本集介紹如何前往合歡山，以及合歡山地區動植物生態、高山氣象、高山地理景觀、森林界線、高山步道的規畫、四季不同季節所應俱備的裝備與交通工具、合歡山地區相關設施與方針。本集介紹如何前往合歡山，以及合歡山地區動植物生態、高山氣象、高山地理景觀、森林界線、高山步道的規畫、四季不同季節所應俱備的裝備與交通工具、合歡山地區相關設施與方針。</p></div>	
		</div>
	</div>

	<div class="detail_photos">
		<div class="bigphoto">
			<div class="mainphoto">
				<ul class="bxslider_1">	 
				  <li><img src="img/photoslider_01.jpg" /></li>
				  <li><img src="img/photoslider_01.jpg" /></li>
				  <li><img src="img/photoslider_01.jpg" /></li>
				  <li><img src="img/photoslider_01.jpg" /></li>
				  <li><img src="img/photoslider_01.jpg" /></li>
				</ul>
			</div>
			<div class="bx-pager_1">
			  <a data-slide-index="0" href=""><img src="img/photoslider_s_01.jpg" /></a>
			  <a data-slide-index="1" href=""><img src="img/photoslider_s_01.jpg" /></a>
			  <a data-slide-index="2" href=""><img src="img/photoslider_s_01.jpg" /></a>
			  <a data-slide-index="3" href=""><img src="img/photoslider_s_01.jpg" /></a>
			  <a data-slide-index="4" href=""><img src="img/photoslider_s_01.jpg" /></a>
			</div>
		</div>
		<a href="#" class="apply-authorization">我要申請數位影像授權</a>
	</div>
</div>

<div class="bottom_detail">

	<div class="bottom_detail_list">
		<div class="detail-th">所屬類別</div>	
		<div class="detail-td"><p>日治時期明信片</p></div>	
	</div>
	<div class="bottom_detail_list">
		<div class="detail-th">資料來源</div>	
		<div class="detail-td"><p>購買</p></div>	
	</div>
	<div class="bottom_detail_list">
		<div class="detail-th">語言</div>	
		<div class="detail-td"><p>中文</p></div>	
	</div>
	<div class="bottom_detail_list">
		<div class="detail-th">附件</div>	
		<div class="detail-td"><a href="">aaaaabbbbbcccccc.jpg</a></div>	
	</div>

	<div class="bottom_detail_tag">
		<div class="tag-a"><i class="fa fa-tag" aria-hidden="true"></i> 日月潭</div>
		<div class="tag-a"><i class="fa fa-tag" aria-hidden="true"></i> 頭目</div>
		<div class="tag-a"><i class="fa fa-tag" aria-hidden="true"></i>原住民邵族</div>
		<div class="tag-a"><i class="fa fa-tag" aria-hidden="true"></i> 珠仔山</div>
		<div class="clear"></div>
	</div>

	<div class="bottom_detail_tag">
		<div class="tag-a"><i class="fa fa-file-text-o" aria-hidden="true"></i> 日月潭</div>
		<div class="clear"></div>
	</div>
	<div class="bottom_detail_tag">
		<div class="tag-a"><i class="fa fa-university" aria-hidden="true"></i> 國家圖書館</div>
		<div class="clear"></div>
	</div>


</div>





{% endblock %}