{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="search_section">
	<div class="search_item">
		<div class="search_go">
			<input type="text">
			<div class="serach_icon"><i class="fa fa-search" aria-hidden="true"></i></div>
		</div>
		<p>這是一個很長很長的故事......</p>
	</div>
</div>
	

<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">台灣記憶</a> > <p>檢索結果</p>
</div>




<div class="search_content">
	<!-- after_classification -->

	<div class="after_classification">

		<div class="search_memo">
			<h5>獨木舟</h5>
			<h6> <i class="fa fa-tag" aria-hidden="true"></i> 共 89 筆</h6>
		</div>

		<div class="search_select">
			<select name="" id="">
				<option value="一般檢視">一般檢視</option>
				<option value="時間軸檢視">時間軸檢視</option>
				<option value="空間檢視">空間檢視</option>
			</select>
		</div>
		<div class="filter">
				<div class="f-data-on">資料集</div>
				<div class="f-data">人物</div>
				<div class="f-data">團體</div>
				<div class="f-data">地點</div>
			</div>

		<div class="datatype">
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<a href="" class="c-btn">篩選</a>
		</div>		

		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<h6>最近10次篩選</h6>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>

		</div>
		
		
	</div>



	<!-- result -->
	<div class="result">
		<!-- need_search -->
		<div class="need_search">
			<div class="select_item">
				<div class="list">
					<select name="" id="">
						<option value="1">第1頁</option>
						<option value="2">第2頁</option>
						<option value="3">第3頁</option>
						<option value="4">第4頁</option>
					</select>
					共 989 筆
				</div>

				<div class="sequence">
					排序
					<select name="" id="">
						<option value="1">依系統編號（遞增）</option>
						<option value="2">依系統編號（遞減）</option>
						<option value="3">依系統日期（遞增）</option>
						<option value="4">依檔案大小（遞增）</option>
					</select>
				</div>
				

				<a href="" class="output"><i class="fa fa-th-large" aria-hidden="true"></i> 圖示顯示</a>
				<a href="" class="output"><i class="fa fa-th-list" aria-hidden="true"></i>列表顯示</a>
			</div>
			<div class="clear"></div>
		</div>



		<div class="result_item-list">
			<div class="photo">
				<img src="img/pc-tp-A118-n.jpg" alt="">
			</div>
			<div class="descript_group">
				<div class="i-title">
				<h6>1 <i class="fa fa fa-angle-right"></i>　新店溪</h6>				
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 日治時期明信片</h5>
				<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
			</div>
		</div>
		<div class="result_item-list">
			<div class="photo">
				<img src="img/pc-tp-B198-n.jpg" alt="">
			</div>
			<div class="descript_group">
				<div class="i-title">
					 <h6>1 <i class="fa fa fa-angle-right"></i>　新店溪</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 日治時期明信片</h5>
				<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
			</div>
		</div>
		<div class="result_item-list">
			<div class="photo">
				<img src="img/pc-tp-A24-n.jpg" alt="">
			</div>
			<div class="descript_group">
				<div class="i-title">
					 <h6>3 <i class="fa fa fa-angle-right"></i>　臺北水道全景（今水源地一帶）</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 日治時期明信片</h5>
				<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
			</div>
		</div>
		<div class="result_item-list">
			<div class="photo">
				<img src="img/00000003.jpg" alt="">
			</div>
			<div class="descript_group">
				<div class="i-title">
					 <h6>西門町市場</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 日治時期明信片</h5>
				<p>西門町，在台灣通常是指台北市的西門町。該區域位於台北市萬華區東北方，為台北市西區最重要且國際化程度最高的消費商圈。<a href="#" class="reading">繼續閱讀</a></p>
			</div>
		</div>
		<div class="result_item-list">
			<div class="photo">
				<img src="img/b01.jpg" alt="">
			</div>
			<div class="descript_group">
				<div class="i-title">
					 <h6>西門町市場</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 日治時期明信片</h5>
				<p>西門町，在台灣通常是指台北市的西門町。該區域位於台北市萬華區東北方，為台北市西區最重要且國際化程度最高的消費商圈。<a href="#" class="reading">繼續閱讀</a></p>
			</div>
		</div>




		<div class="clear"></div>

		<!-- pages -->
		<div class="pages">
			<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
			<a href="">6</a>
			<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
		</div>

	</div>

</div>


{% endblock %}