{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}





<div class="mainslider">
	<div class="slider-desktop">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="img/slider-01.jpg" alt="">
				</li>
				<li>
					<img src="img/slider-02.jpg" alt="">
				</li>
				<li>
					<img src="img/slider-03.jpg" alt="">
				</li>
				
			</ul>
		</div>
	</div>

	<div class="aside_section">
		<div class="content_btn">
			<div class="location_left">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<p>地理位置</p>
			</div>
			<div class="location_right"></div>
		</div>

		<div class="content_btn">
			<div class="timeline_left"></div>
			<div class="timeline_right">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<p>時間軸</p>
			</div>
		</div>

		<div class="content_btn">
			<div class="subject_left">
				<i class="fa fa-cubes" aria-hidden="true"></i>
				<p>主題瀏覽</p>
			</div>
			<div class="subject_right"></div>
		</div>
	</div>
</div>


<div class="search_section">
	<div class="search_item">
		<div class="search_go">
			<input type="text">
			<div class="serach_icon"><i class="fa fa-search" aria-hidden="true"></i></div>
		</div>
		<p>這是一個很長很長的故事......</p>
	</div>
</div>
	



<!-- online_display -->

<div class="hottitle">
	<div class="tt-t">
		<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
		<h4>線上特展</h4>
	</div>
	<div class="switch">
		<a href="">更多特展</a>
	</div>
</div>


<div class="online_display">

	<div class="onlinedisplay_content">
		<a href="">
		<img src="img/online-01.jpg" alt="">
		<div class="mask"><p>掌聲響起的風飛飛</p> </div>
		</a>
	</div>
	<div class="onlinedisplay_content">
		<a href="">
		<img src="img/online-01.jpg" alt="">
		<div class="mask"><p>掌聲響起的風飛飛</p> </div>
		</a>
	</div>
	<div class="onlinedisplay_content">
		<a href="">
		<img src="img/online-01.jpg" alt="">
		<div class="mask"><p>掌聲響起的風飛飛</p> </div>
		</a>
	</div>
	<div class="onlinedisplay_content">
		<a href="">
		<img src="img/online-01.jpg" alt="">
		<div class="mask"><p>掌聲響起的風飛飛</p> </div>
		</a>
	</div>
	<div class="onlinedisplay_content">
		<a href="">
		<img src="img/online-01.jpg" alt="">
		<div class="mask"><p>掌聲響起的風飛飛</p> </div>
		</a>
	</div>
	<div class="onlinedisplay_content">
		<a href="">
		<img src="img/online-01.jpg" alt="">
		<div class="mask"><p>掌聲響起的風飛飛</p> </div>
		</a>
	</div>

</div>

<div class="three_section">
	
	<!-- localmemo -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
				<h4>鄉土記事</h4>
			</div>
		</div>
		<div class="localmemo">
			<div class="date">5月29日</div>
			<div class="local_item">
				<div class="year">1922</div>
				<div class="local_descript">
					鄉土的內涵指的是鄉土的客體，然而客體是主體意向的對象，客體的意義即其特徵必須在主體意義的脈絡中，才能被經驗得到的。
				</div>
			</div>
			<div class="local_item">
				<div class="year">1939</div>
				<div class="local_descript">
					鄉土的內涵指的是鄉土的客體，然而客體是主體意向的對象，客體的意義即其特徵必須在主體意義的脈絡中，才能被經驗得到的。
				</div>
			</div>
		</div>
	</div>

	<!-- newsvideo -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
				<h4>新聞影音</h4>
			</div>
		</div>

		<div class="newsvideo">
			<div class="newsvideo_item">
				<div class="year">1939</div>
				<div class="newsvideo_descript">
					鄉土的內涵指的是鄉土的客體，然而客體是主體意向的對象，客體的意義即其特徵必須在主體意義的脈絡中，才能被經驗得到的。
				</div>
			</div>

			<div class="newsvideo_item">
				<div class="year">1939</div>
				<div class="newsvideo_descript">
					鄉土的內涵指的是鄉土的客體，然而客體是主體意向的對象，客體的意義即其特徵必須在主體意義的脈絡中，才能被經驗得到的。
				</div>
			</div>
			<div class="newsvideo_item">
				<div class="year">1939</div>
				<div class="newsvideo_descript">
					鄉土的內涵指的是鄉土的客體，然而客體是主體意向的對象，客體的意義即其特徵必須在主體意義的脈絡中，才能被經驗得到的。
				</div>
			</div>
		</div>
	</div>

	<!-- todaycharacter -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
				<h4>今日人物</h4>
			</div>
		</div>
		<div class="todaycharacter"> 
				<img src="img/ p.jpg" alt="">
				<h6>陳小黑</h6>
				<p>過於安逸的時候，又忍不住想念那些在狂風駭浪中乘船的洶湧時刻，那些奮不顧身，那些能量聚集的溫柔包覆。</p>	

		</div>
	</div>

</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>














{% endblock %}