{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}





<div class="mainslider">
	

	<div class="slider-desktop">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="img/slider_01.jpg" alt="">
				</li>
				
			</ul>
		</div>
	</div>

</div>




	



<div class="hotvideo">

	<div class="hottitle">
		<div class="tt-t">
			<div class="hoticon"><img src="img/icon_a1.png" alt=""></div>
			<h4>熱門影音</h4>
			<h5>觀賞珍貴影音記錄，探索台灣森林瑰寶</h5>
		</div>
		<div class="switch">
			<p>影音</p> 
			<input type="checkbox" id="s1" />
  			<label class="slider-v1" for="s1"></label>
  			<p>照片</p> 
		</div>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a01.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a02.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a03.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

</div>



<div class="hotvideo">
	<div class="hottitle">
		<div class="tt-t">
			<div class="hoticon"><img src="img/icon_a1.png" alt=""></div>
			<h4>最新影音</h4>
			<h5>觀賞珍貴影音記錄，探索台灣森林瑰寶</h5>
		</div>
		<div class="switch">
			<p>影音</p> 
			<input type="checkbox" id="s1" />
  			<label class="slider-v1" for="s1"></label>
  			<p>照片</p> 
		</div>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a01.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a02.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a03.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

</div>

<div class="bird-base">
	<div class="asidebird">
		<img src="img/asidebird.png" alt="">
	</div>
	<div class="uglyfrog">
		<img src="img/frog.png" alt="">
	</div>

</div>






{% endblock %}