{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="search_section">
	<div class="search_item">
		<div class="search_go">
			<input type="text">
			<div class="serach_icon"><i class="fa fa-search" aria-hidden="true"></i></div>
		</div>
		<p>這是一個很長很長的故事......</p>
	</div>
</div>
	

<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">台灣記憶</a> > <p>檢索結果</p>
</div>




<div class="search_content">
	<!-- after_classification -->

	<div class="after_classification">

		<div class="search_memo">
			<h5>獨木舟</h5>
			<h6> <i class="fa fa-tag" aria-hidden="true"></i> 共 89 筆</h6>
		</div>

		<div class="search_select">
			<select name="" id="">
				<option value="一般檢視">一般檢視</option>
				<option value="時間軸檢視">時間軸檢視</option>
				<option value="空間檢視">空間檢視</option>
			</select>
		</div>
		<div class="filter">
				<div class="f-data-on">資料集</div>
				<div class="f-data">人物</div>
				<div class="f-data">團體</div>
				<div class="f-data">地點</div>
			</div>

		<div class="datatype">
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<a href="" class="c-btn">篩選</a>
		</div>		

		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<h6>最近10次篩選</h6>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>

		</div>
		
		
	</div>



	<!-- result -->
	<div class="map_list_section">
		<div class="mapsqure"></div>
		<div class="map_contnet">
			<div class="map_location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<h5>大稻埕</h5>
				<h6>共有 12 筆</h6>
			</div>
			<div class="map_event">
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
			</div>
		</div>

		<div class="map_contnet">
			<div class="map_location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<h5>打狗社</h5>
				<h6>共有 12 筆</h6>
			</div>
			<div class="map_event">
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				
			</div>
		</div>

		<div class="map_contnet">
			<div class="map_location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<h5>喜拉雅牽田走鏢</h5>
				<h6>共有 12 筆</h6>
			</div>
			<div class="map_event">
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				
			</div>
		</div>

		<div class="map_contnet">
			<div class="map_location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<h5>喜拉雅牽田走鏢</h5>
				<h6>共有 12 筆</h6>
			</div>
			<div class="map_event">
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
		
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>日治時期明信片</h6>
							<p>西門町，在台灣通常是指台北市的西門町。</p>
						</div>
				</div>
				
			</div>
		</div>
		







		<!-- page -->
		<div class="pages">
			<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
			<a href="">6</a>
			<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
		</div>
	</div>

	

</div>


{% endblock %}