{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="search_section">
	<div class="search_item">
		<div class="search_go">
			<input type="text">
			<div class="serach_icon"><i class="fa fa-search" aria-hidden="true"></i></div>
		</div>
		<p>這是一個很長很長的故事......</p>
	</div>
</div>
	

<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">台灣記憶</a> > <p>檢索結果</p>
</div>




<div class="search_content">
	<!-- after_classification -->

	<div class="after_classification">

		<div class="search_memo">
			<h5>獨木舟</h5>
			<h6> <i class="fa fa-tag" aria-hidden="true"></i> 共 89 筆</h6>
		</div>

		<div class="search_select">
			<select name="" id="">
				<option value="一般檢視">一般檢視</option>
				<option value="時間軸檢視">時間軸檢視</option>
				<option value="空間檢視">空間檢視</option>
			</select>
		</div>
		<div class="filter">
				<div class="f-data-on">資料集</div>
				<div class="f-data">人物</div>
				<div class="f-data">團體</div>
				<div class="f-data">地點</div>
			</div>

		<div class="datatype">
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>日治時代明信片 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>台北老照片 (39)</p>
			</div>
			<a href="" class="c-btn">篩選</a>
		</div>		

		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<h6>最近10次篩選</h6>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 台北老照片 (39)</p>
			</div>

		</div>
		
		
	</div>

	<!-- time line -->
	<div class="time_line_section">

		<div class="timesqure"></div>

		<div class="year_tag">
			<div class="t-tag">
			年代限制：1890 - 1920 
			<div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
			</div>
			<div class="clear"></div>
		</div>	
		

		<div class="history_row">
			<div class="left_line"></div>
			<div class="dot"></div>
			<div class="year">
				1829 <br>
				| <br>
				1839
			</div>

			<div class="history_item">
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>期明信片</h6>
						<p>北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>

				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
	
				<div class="clear"></div>
			</div>
		</div>


		<div class="history_row">
			<div class="left_line"></div>
			<div class="dot"></div>
			<div class="year">
				1849 <br>
				| <br>
				1872
			</div>

			<div class="history_item">
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>

				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
	
				<div class="clear"></div>
			</div>
		</div>


		<div class="history_row">
			<div class="left_line"></div>
			<div class="dot"></div>
			<div class="year">1835</div>

			<div class="history_item">
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="history_row">
			<div class="left_line"></div>
			<div class="dot"></div>
			<div class="year">1838</div>

			<div class="history_item">
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="history_event">
					<img src="img/ttt_03.jpg" alt="">
					<div class="t-text">
						<h6>日治時期明信片</h6>
						<p>西門町，在台灣通常是指台北市的西門町。</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

	</div>		

</div>


{% endblock %}