@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

h1 {
  font-size: 30px;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 30px;
  margin-top: 30px; }

h2 {
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #888; }

.hamburg-open {
  right: 0% !important;
  transform: rotate(0deg) translate3d(0px, 0px, 0px); }

.hamburg .aaa, .hamburg .bbb, .hamburg .ccc {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 4px;
  background: #555;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: all .5s ease;
  transform: rotate(0deg) translate3d(0px, 0px, 0px); }

.active .aaa {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #FF9800;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s ease;
  transform: rotate(405deg) translate3d(8px, 8px, 0px); }

.active .bbb {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #FF9800;
  margin-bottom: 6px;
  margin-top: 6px;
  transform: rotate(0deg) translate3d(0px, 0px, 0px);
  opacity: 0; }

.active .ccc {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #FF9800;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s ease;
  transform: rotate(-405deg) translate3d(8px, -8px, 0px); }

.header_wrapper {
  border-bottom: 1px solid #eee; }

.second-open {
  right: 0% !important;
  transition: all .5s ease; }

@media (min-width: 0) and (max-width: 863px) {
  .tt-title {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.3s; }
  .tt-title:after {
    content: " ";
    display: block;
    clear: both; }
  .tt-title h4 {
    font-size: 28px;
    color: #222; }
  .tt-title img {
    width: 40px;
    margin-right: 10px; } }

@media (min-width: 864px) {
  .tt-title {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.3s; }
  .tt-title:after {
    content: " ";
    display: block;
    clear: both; }
  .tt-title h4 {
    font-size: 28px;
    color: #222; }
  .tt-title img {
    width: 40px;
    margin-right: 10px; } }

@media (min-width: 0) and (max-width: 863px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 864px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #534c3b;
    height: 33px;
    font-size: 13px;
    text-align: right;
    color: #FFF;
    padding-right: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; }
  .top_header a {
    font-size: 13px;
    color: #FFF;
    margin: 0 10px; } }

@media (min-width: 0) and (max-width: 863px) {
  .breac_crumbs {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    padding: 10px;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    color: #666;
    font-size: 14px; }
  .breac_crumbs:after {
    content: " ";
    display: block;
    clear: both; }
  .breac_crumbs p {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    color: #444; }
  .breac_crumbs a {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    color: #888; } }

@media (min-width: 864px) {
  .breac_crumbs {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 0 40px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    color: #666;
    font-size: 14px; }
  .breac_crumbs:after {
    content: " ";
    display: block;
    clear: both; }
  .breac_crumbs p {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    color: #444; }
  .breac_crumbs a {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    color: #888; } }

@media (min-width: 0) and (max-width: 863px) {
  header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    background: #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  header:after {
    content: " ";
    display: block;
    clear: both; }
  header .logo {
    width: 300px;
    height: 110px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  header .logo img {
    width: 60px;
    display: block;
    margin-right: 15px; }
  header .deskmenu {
    display: none; }
  header .login_section {
    display: none; }
  header .hamburg {
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 15px;
    right: 10px;
    cursor: pointer;
    z-index: 1800; }
  header .aside {
    display: block;
    position: fixed;
    width: 100%;
    height: 2000px;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    transition: all .2s ease;
    right: -100%;
    top: -30px;
    z-index: 1200;
    overflow-x: hidden; }
  header .aside ul {
    margin-top: 60px; }
  header .aside ul li .m-first {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 0 0 30px;
    line-height: 1.4;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #555; }
  header .aside ul li .m-first .go_submenu {
    width: 45px;
    height: 45px;
    background: #222;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  header .aside ul li .m-first .go_submenu i {
    font-size: 30px; }
  header .aside ul li .m-second_bg {
    position: absolute;
    width: 100%;
    height: 2000px;
    background: #222;
    top: 110px;
    right: -100%;
    transition: all .5s ease; }
  header .aside ul li .m-second_bg .goback {
    margin: 0 10px;
    color: #FFF;
    width: 200px;
    height: 48px;
    margin-top: -20px;
    margin-left: 20px;
    padding-left: 20px;
    cursor: pointer;
    background-color: #555;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  header .aside ul li .m-second_bg .goback i {
    font-size: 20px;
    margin-right: 10px; }
  header .aside ul li .m-second_bg ul {
    position: absolute;
    width: 100%;
    top: -20px; }
  header .aside ul li .m-second_bg ul li .m-second {
    display: block;
    height: 50px;
    width: 100%;
    padding: 0 0 0 30px;
    line-height: 1.4;
    color: #999;
    font-size: 15px;
    border-bottom: 1px solid #555;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; } }

@media (min-width: 864px) {
  header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    background: #eee;
    padding-left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  header:after {
    content: " ";
    display: block;
    clear: both; }
  header .logo {
    width: 250px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  header .logo img {
    width: 100%;
    display: block;
    margin-right: 15px; }
  header .login_section_mobile {
    display: none; }
  header .deskmenu {
    width: 70%; }
  header .deskmenu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  header .deskmenu ul li {
    position: relative; }
  header .deskmenu ul li a {
    display: block;
    height: 40px;
    color: #777;
    border-bottom: 3px solid #eee;
    font-size: 18px;
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  header .deskmenu ul li a:hover {
    border-bottom: 3px solid #bc521a; }
  header .login_section {
    width: 150px;
    height: 110px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  header .login_section .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFF;
    margin-right: 12px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  header .login_section .icon i {
    font-size: 18px;
    color: #000; }
  header .login_section .logout {
    color: #FFF; }
  header .login_section .login {
    color: #FFF; }
  header .hamburg {
    display: none; }
  header .aside {
    display: none; } }

@media (min-width: 0) and (max-width: 863px) {
  .mainslider {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto; }
  .mainslider:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 864px) {
  .mainslider {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; }
  .mainslider:after {
    content: " ";
    display: block;
    clear: both; }
  .mainslider .slider-desktop {
    width: 64.91228%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%; }
  .mainslider .slider-desktop .flexslider {
    background: #333; }
  .mainslider .slider-desktop .flexslider ul li {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainslider .slider-desktop .flexslider ul li img {
    width: 100%;
    display: block; }
  .mainslider .aside_section {
    width: 31.57895%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%; }
  .mainslider .aside_section .content_btn {
    height: 100px;
    border: 2px solid #e3c8b6;
    margin-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainslider .aside_section .content_btn .location_left {
    width: 50%;
    height: 100%;
    background: #fff3eb;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainslider .aside_section .content_btn .location_left i {
    font-size: 30px;
    margin-bottom: 5px;
    color: #888; }
  .mainslider .aside_section .content_btn .location_left p {
    font-size: 14px;
    color: #888; }
  .mainslider .aside_section .content_btn .location_right {
    width: 50%;
    height: 100%;
    background: url("../img/ttt_01.jpg");
    background-size: cover; }
  .mainslider .aside_section .content_btn .timeline_left {
    width: 50%;
    height: 100%;
    background: url("../img/ttt_02.jpg");
    background-size: cover; }
  .mainslider .aside_section .content_btn .timeline_right {
    width: 50%;
    height: 100%;
    background: #fff3eb;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainslider .aside_section .content_btn .timeline_right i {
    font-size: 30px;
    margin-bottom: 5px;
    color: #888; }
  .mainslider .aside_section .content_btn .timeline_right p {
    font-size: 14px;
    color: #888; }
  .mainslider .aside_section .content_btn .subject_left {
    width: 50%;
    height: 100%;
    background: #fff3eb;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainslider .aside_section .content_btn .subject_left i {
    font-size: 30px;
    margin-bottom: 5px;
    color: #888; }
  .mainslider .aside_section .content_btn .subject_left p {
    font-size: 14px;
    color: #888; }
  .mainslider .aside_section .content_btn .subject_right {
    width: 50%;
    height: 100%;
    background: url("../img/ttt_03.jpg");
    background-size: cover; } }

@media (min-width: 0) and (max-width: 863px) {
  .search_section {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto; }
  .search_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 864px) {
  .search_section {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; }
  .search_section:after {
    content: " ";
    display: block;
    clear: both; }
  .search_section .search_item {
    width: 98.24561%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    background: #f5f5f5;
    padding: 15px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .search_section .search_item p {
    font-size: 13px;
    color: #888; }
  .search_section .search_item .search_go {
    width: 100%;
    margin-bottom: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .search_section .search_item .search_go input[type="text"] {
    width: 80%;
    height: 40px; }
  .search_section .search_item .search_go .serach_icon {
    width: 50px;
    height: 40px;
    background: #019;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #be5108;
    cursor: pointer; }
  .search_section .search_item .search_go .serach_icon i {
    color: #FFF; } }

.bgimg_encyclopedia {
  background: url("../img/slider_01.jpg") center;
  background-size: cover; }

@media (min-width: 0) and (max-width: 863px) {
  .black-static {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    padding: 10px 10px;
    margin-bottom: 10px; }
  .black-static:after {
    content: " ";
    display: block;
    clear: both; }
  .black-static .search_section {
    width: 90%;
    padding-top: 30px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .black-static .search_section input {
    width: 100%;
    height: 35px; }
  .black-static .search_section .lens_icon {
    width: 60px;
    height: 35px;
    background: #019316;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF; } }

@media (min-width: 864px) {
  .black-static {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    padding: 20px 10px;
    margin-bottom: 20px; }
  .black-static:after {
    content: " ";
    display: block;
    clear: both; }
  .black-static .search_section {
    width: 60%;
    padding-top: 30px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .black-static .search_section input {
    width: 100%;
    height: 35px; }
  .black-static .search_section .lens_icon {
    width: 60px;
    height: 35px;
    background: #019316;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF; } }

@media (min-width: 0) and (max-width: 1299px) {
  .bird-base {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none; }
  .bird-base:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1300px) {
  .bird-base {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 100%;
    height: 150px; }
  .bird-base:after {
    content: " ";
    display: block;
    clear: both; }
  .bird-base .asidebird {
    position: absolute;
    width: 270px;
    height: 276px;
    right: 0;
    bottom: 500px;
    z-index: 2000; }
  .bird-base .asidebird img {
    width: 100%; }
  .bird-base .uglyfrog {
    position: absolute;
    width: 250px;
    height: 118px;
    left: 30px;
    bottom: -60px;
    z-index: 2100; }
  .bird-base .uglyfrog img {
    width: 100%; } }

@media (min-width: 0) and (max-width: 863px) {
  .online_display {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; }
  .online_display:after {
    content: " ";
    display: block;
    clear: both; }
  .online_display .onlinedisplay_content {
    width: 44.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    padding: 0 15px; }
  .online_display .onlinedisplay_content img {
    border-radius: 50%;
    width: 100%; }
  .online_display .onlinedisplay_content .mask {
    width: 100%;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .online_display .onlinedisplay_content .mask p {
    font-size: 14px;
    line-height: 1.4;
    color: #888;
    text-align: center; } }

@media (min-width: 864px) {
  .online_display {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; }
  .online_display:after {
    content: " ";
    display: block;
    clear: both; }
  .online_display .onlinedisplay_content {
    width: 14.91228%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    padding: 0 15px; }
  .online_display .onlinedisplay_content img {
    border-radius: 50%;
    width: 100%; }
  .online_display .onlinedisplay_content .mask {
    width: 100%;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .online_display .onlinedisplay_content .mask p {
    font-size: 14px;
    line-height: 1.4;
    color: #888;
    text-align: center; } }

@media (min-width: 0) and (max-width: 863px) {
  .three_section {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto; }
  .three_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 864px) {
  .three_section {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; }
  .three_section:after {
    content: " ";
    display: block;
    clear: both; }
  .three_section .section_a {
    width: 31.57895%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    height: 400px;
    padding: 0 10px; }
  .three_section .section_a .localmemo .date {
    font-size: 20px;
    color: #fc9933;
    margin-bottom: 10px; }
  .three_section .section_a .localmemo .local_item {
    margin-bottom: 15px;
    border-bottom: 1px dashed #eee;
    padding: 10px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start; }
  .three_section .section_a .localmemo .local_item .year {
    font-size: 16px;
    color: #777;
    font-weight: 700;
    margin-right: 15px; }
  .three_section .section_a .localmemo .local_item .local_descript {
    font-size: 13px;
    color: #999; }
  .three_section .section_a .newsvideo .newsvideo_item {
    margin-bottom: 15px;
    border-bottom: 1px dashed #eee;
    padding: 10px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start; }
  .three_section .section_a .newsvideo .newsvideo_item .year {
    font-size: 16px;
    color: #777;
    font-weight: 700;
    margin-right: 15px; }
  .three_section .section_a .newsvideo .newsvideo_item .newsvideo_descript {
    font-size: 13px;
    color: #999; }
  .three_section .section_a .todaycharacter {
    padding: 0 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .three_section .section_a .todaycharacter img {
    width: 60%;
    border-radius: 50%;
    margin-bottom: 10px; }
  .three_section .section_a .todaycharacter h6 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500; }
  .three_section .section_a .todaycharacter p {
    font-size: 14px;
    color: #888; } }

@media (min-width: 0) and (max-width: 863px) {
  .hottitle {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #f0f0f0;
    position: relative; }
  .hottitle:after {
    content: " ";
    display: block;
    clear: both; }
  .hottitle .tt-t {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .hottitle .tt-t .hoticon {
    margin-right: 10px; }
  .hottitle .tt-t .hoticon i {
    font-size: 25px; }
  .hottitle .tt-t h4 {
    font-size: 25px;
    margin-right: 20px;
    color: #555; }
  .hottitle .tt-t h5 {
    font-size: 14px;
    color: #888; }
  .hottitle .switch {
    position: absolute;
    width: 100px;
    text-align: right;
    right: 10px; }
  .hottitle .switch a {
    font-size: 12px;
    color: #900; } }

@media (min-width: 864px) {
  .hottitle {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px 20px;
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px;
    border-bottom: 1px solid #f0f0f0;
    position: relative; }
  .hottitle:after {
    content: " ";
    display: block;
    clear: both; }
  .hottitle .tt-t {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .hottitle .tt-t .hoticon {
    margin-right: 10px; }
  .hottitle .tt-t .hoticon i {
    font-size: 25px; }
  .hottitle .tt-t h4 {
    font-size: 25px;
    margin-right: 20px;
    color: #555; }
  .hottitle .tt-t h5 {
    font-size: 13px;
    color: #888; }
  .hottitle .switch {
    position: absolute;
    width: 100px;
    text-align: right;
    right: 10px; }
  .hottitle .switch a {
    font-size: 12px;
    color: #900; } }

.footer_wrapper {
  width: 100%;
  background: url("../img/flim.png") #000;
  background-repeat: repeat-x;
  padding-top: 80px; }

@media (min-width: 0) and (max-width: 863px) {
  footer {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .footer_info {
    padding: 20px 0; }
  footer .footer_info p {
    margin: 0 20px;
    font-size: 16px;
    color: #FFF;
    margin-bottom: 10px; }
  footer .relatedlinks {
    margin-bottom: 20px;
    margin-top: 20px; }
  footer .relatedlinks .ad {
    width: 44.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    margin-bottom: 10px; }
  footer .toggle_btn {
    display: none; }
  footer .footer_link {
    width: 94.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    margin-bottom: 20px; }
  footer .footer_link a {
    display: block;
    float: left;
    margin-right: 35px;
    color: #70d7e3;
    font-size: 16px;
    margin-bottom: 13px; }
  footer .copyright {
    width: 94.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    width: 100%;
    padding-bottom: 30px; }
  footer .copyright p {
    color: #c0c0c0;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 8px; } }

@media (min-width: 864px) {
  footer {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .footer_info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #444;
    padding: 20px 0; }
  footer .footer_info p {
    margin: 0 20px;
    font-size: 16px;
    color: #FFF; }
  footer .relatedlinks {
    margin-bottom: 20px;
    margin-top: 20px; }
  footer .relatedlinks .ad {
    width: 14.91228%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%; }
  footer .toggle_btn {
    height: 45px;
    background: #333;
    border-bottom: 2px solid #33797c;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  footer .toggle_btn i {
    margin-left: 10px; }
  footer .footer_link {
    height: 50px;
    margin-top: 30px; }
  footer .footer_link a {
    margin-right: 35px;
    color: #70d7e3;
    font-size: 16px; }
  footer .copyright {
    width: 100%;
    padding-bottom: 30px; }
  footer .copyright p {
    color: #c0c0c0;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 8px; } }

@media (min-width: 0) and (max-width: 863px) {
  .pages {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .pages:after {
    content: " ";
    display: block;
    clear: both; }
  .pages a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    font-size: 14px;
    margin: 0 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .pages a:hover {
    border: 1px solid #eee;
    background: #5fb8eb;
    color: #FFF; } }

@media (min-width: 864px) {
  .pages {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .pages:after {
    content: " ";
    display: block;
    clear: both; }
  .pages a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    font-size: 14px;
    margin: 0 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .pages a:hover {
    border: 1px solid #eee;
    background: #5fb8eb;
    color: #FFF; } }

@media (min-width: 0) and (max-width: 863px) {
  .show_contnet_01 {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 350px;
    background: #FFF;
    border: 3px solid #00991a;
    z-index: 2000; }
  .show_contnet_01:after {
    content: " ";
    display: block;
    clear: both; }
  .show_contnet_01 .titile {
    width: 100%;
    height: 40px;
    background: #00991a;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
  .show_contnet_01 .titile h4 {
    font-size: 18px;
    color: #FFF; }
  .show_contnet_01 .login_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    color: #888; }
  .show_contnet_01 .login_item input {
    margin-right: 5px;
    border: 1px solid #c0c0c0; }
  .show_contnet_01 .login_item p {
    font-size: 14px;
    color: #888;
    margin-right: 5px; }
  .show_contnet_01 .login_item .employer {
    margin-right: 15px; }
  .show_contnet_01 .login_item .employer input {
    margin-right: 5px; }
  .show_contnet_01 .submit {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 30px;
    background: #10b4c7;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    margin-bottom: 10px; }
  .show_contnet_01 .forgotpsw {
    display: block;
    font-size: 12px;
    color: #c0c0c0;
    text-align: center;
    margin-bottom: 10px; }
  .show_contnet_01 .socialmedia {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #c0c0c0;
    padding-top: 20px; }
  .show_contnet_01 .socialmedia i {
    font-size: 50px;
    margin: 0 10px;
    color: #c0c0c0; } }

@media (min-width: 864px) {
  .show_contnet_01 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 350px;
    background: #FFF;
    border: 3px solid #00991a; }
  .show_contnet_01:after {
    content: " ";
    display: block;
    clear: both; }
  .show_contnet_01 .titile {
    width: 100%;
    height: 40px;
    background: #00991a;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
  .show_contnet_01 .titile h4 {
    font-size: 18px;
    color: #FFF; }
  .show_contnet_01 .login_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    color: #888; }
  .show_contnet_01 .login_item p {
    font-size: 14px;
    color: #888;
    margin-right: 5px; }
  .show_contnet_01 .login_item .employer {
    margin-right: 15px; }
  .show_contnet_01 .login_item .employer input {
    margin-right: 5px; }
  .show_contnet_01 .submit {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 30px;
    background: #10b4c7;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    margin-bottom: 10px; }
  .show_contnet_01 .forgotpsw {
    display: block;
    font-size: 12px;
    color: #c0c0c0;
    text-align: center;
    margin-bottom: 10px; }
  .show_contnet_01 .socialmedia {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #c0c0c0;
    padding-top: 20px; }
  .show_contnet_01 .socialmedia i {
    font-size: 50px;
    margin: 0 10px;
    color: #c0c0c0; } }

@media (min-width: 0) and (max-width: 863px) {
  .related_link {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto; }
  .related_link:after {
    content: " ";
    display: block;
    clear: both; }
  .related_link .category_item {
    width: 44.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    background: #189;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; }
  .related_link .category_item img {
    display: block;
    width: 100%; }
  .related_link .category_item .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0%;
    left: 0%;
    transition: all 0.3s;
    transform: rotate(0deg); }
  .related_link .category_item .mask h6 {
    opacity: 1;
    font-size: 16px;
    color: orange;
    margin-bottom: 10px; }
  .related_link .category_item .mask p {
    opacity: 1;
    font-size: 14px;
    color: #FFF; } }

@media (min-width: 864px) {
  .related_link {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .related_link:after {
    content: " ";
    display: block;
    clear: both; }
  .related_link .category_item {
    width: 23.24561%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    background: #189;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; }
  .related_link .category_item img {
    display: block;
    width: 100%; }
  .related_link .category_item .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0%;
    left: 0%;
    transition: all 0.3s;
    transform: rotate(0deg); }
  .related_link .category_item .mask h6 {
    opacity: 1;
    font-size: 16px;
    color: orange;
    margin-bottom: 10px; }
  .related_link .category_item .mask p {
    opacity: 1;
    font-size: 14px;
    color: #FFF; }
  .related_link .category_item:hover .mask {
    background: rgba(0, 0, 0, 0.8); } }

.map {
  height: 100%;
  height: 700px; }

.time-t {
  width: 100%;
  height: 100px;
  background: #c0c0c0; }

@media (min-width: 0) and (max-width: 863px) {
  .opendata {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .opendata:after {
    content: " ";
    display: block;
    clear: both; }
  .opendata .row-t {
    width: 100%;
    border-bottom: 1px solid #eee;
    transition: all .3s; }
  .opendata .row-t h6 {
    color: #222;
    font-size: 14px;
    line-height: 1.4; }
  .opendata .row-t p {
    color: #888;
    font-size: 14px;
    line-height: 1.4; }
  .opendata .row-t a {
    color: #00995d;
    font-size: 16px;
    line-height: 1.4; }
  .opendata .row-t .column_1 {
    width: 44.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .opendata .row-t .column_2 {
    width: 19.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .opendata .row-t .column_3 {
    width: 19.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .opendata .row-page {
    width: 100%;
    border-bottom: 1px solid #eee;
    transition: all .3s; }
  .opendata .row-page h6 {
    color: #222;
    font-size: 16px;
    line-height: 1.4; }
  .opendata .row-page p {
    color: #888;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 6px;
    word-wrap: break-word;
    word-break: break-all; }
  .opendata .row-page a {
    color: #00995d;
    font-size: 18px;
    line-height: 1.4; }
  .opendata .row-page .column_a {
    width: 27.77778%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    padding: 10px; }
  .opendata .row-page .column_b {
    width: 61.11111%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    padding: 10px; } }

@media (min-width: 864px) {
  .opendata {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px; }
  .opendata:after {
    content: " ";
    display: block;
    clear: both; }
  .opendata .row-t {
    width: 100%;
    border-bottom: 1px solid #eee;
    transition: all .3s; }
  .opendata .row-t:hover {
    background: #f6f9f0;
    transform: scale(1.05);
    border-bottom: 1px solid #f6f9f0; }
  .opendata .row-t h6 {
    color: #222;
    font-size: 16px;
    line-height: 1.4; }
  .opendata .row-t p {
    color: #888;
    font-size: 16px;
    line-height: 1.4; }
  .opendata .row-t a {
    color: #00995d;
    font-size: 18px;
    line-height: 1.4; }
  .opendata .row-t .column_1 {
    width: 48.24561%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .opendata .row-t .column_2 {
    width: 23.24561%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .opendata .row-t .column_3 {
    width: 23.24561%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .opendata .row-page {
    width: 100%;
    border-bottom: 1px solid #eee;
    transition: all .3s; }
  .opendata .row-page h6 {
    color: #222;
    font-size: 16px;
    line-height: 1.4; }
  .opendata .row-page p {
    color: #888;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 6px; }
  .opendata .row-page a {
    color: #00995d;
    font-size: 18px;
    line-height: 1.4; }
  .opendata .row-page .column_a {
    width: 31.57895%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    padding: 10px; }
  .opendata .row-page .column_b {
    width: 64.91228%;
    float: left;
    margin-left: 0.87719%;
    margin-right: 0.87719%;
    padding: 10px; } }

body {
  background: #FFF;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.4; }

a {
  color: #888; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }
